*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

main{
     height: 100vh;
     background-image: linear-gradient(to bottom, rgb(0, 138, 90) 15vh,lightgrey 10vh);
}

.height-70{
     height: 70px;
}

.avatar{
     width: 60px;
     height: 60px;
     border-radius: 50% ;
   
}

.ricevuto{
     background-color: rgb(192, 192, 192);
     padding: 10px;
     border-radius: 20px;
     margin: 20px;
     max-width:40% ;
}
.inviato{
     background-color: rgb(0, 138, 90);
     padding: 10px;
     border-radius: 20px;
     max-width:40% ;
     margin: 20px;
     /* position: absolute;
     right: 10px; */
}


.barra_mess{
     position: absolute;
     bottom: 0px;
     max-width: 90%;
}

.col-9{
     position: relative;
}

